.event_searchbar2{
    margin-top: 4.5%;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 11px;
    padding-top: 30px;
    padding-bottom: 120px;
    margin-left: 10%;
    margin-right: 10%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #b5b5b5, #e3e3e3);


}


.search_button2{
    width: 150px;
    height: 50px;
    margin-top: 3%;
    position: absolute;
    right: 40%;
}

.second_field2{  
    justify-content: space-evenly;   
    margin-left: 5%;
    margin-right: 5%;

}

.first_field2{
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}