.restaurant_searchbar6{
    margin-top: 3%;
    /* justify-content: space-evenly; */
    border: 1px solid black;
    border-radius: 11px;
    padding-bottom: 6%;
    margin-left: 10%;
    margin-right: 10%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #b5b5b5, #e3e3e3);
    background-position:bottom ;
}


.search_button6{
    width: 150px;
    height: 50px;
    margin-top: 2%;
    position: absolute;
    right: 41%;
}

.second_field6{  
    justify-content: space-evenly;   
    margin-left: 5%;
    margin-right: 5%;

}

.first_field6{
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.restaurant_date{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}