.things_heading{

    margin-top: 10%;
    margin-left: 45%;
}


.things_searchbar1{
    margin-top: 4.5%;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 11px;
    padding-top: 30px;
    padding-bottom: 120px;
    margin-left: 10%;
    margin-right: 10%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #b5b5b5, #e3e3e3);


}

.search_button1{
    width: 150px;
    height: 50px;
    margin-top: 3%;
    position: absolute;
    right: 40%;
}

.second_field1{  
    justify-content: space-evenly;   
    margin-left: 5%;
    margin-right: 5%;

}

.first_field1{
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}

.heading1{
    margin-top: 5%;
    text-align: center;
    font-family: Helvetica, sans-serif;
}